<!DOCTYPE html>
<html>
<head>
  <title>{{#if title}}{{title}} - {{/if}}{{sitename}}</title>
	<link href="../images/DnRfavicon.png" rel="icon" type="image/x-icon" />

	<link rel='stylesheet' href='/stylesheets/style.css' />

	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="431535611473-tk931qbmqot9p9efafmdmgl0savsmact.apps.googleusercontent.com">
</head>
<body>
	<div class="header">
		<a href="/">
			<img class="header-logo" src="../images/DnRlogo-mid.png">
		</a>
		<div class="header-navigation">
			<a class="highlight">Highlighted Link</a>
			<a>Normal Link</a>
		</div>

		{{#if socialHeader}}
		<div class="social">
			{{#each socialHeader}}
			{{#if this.favorite}}
			<a class="social-icon favorite" href="{{this.url}}"><img src="../images/{{this.iconset}}-color.png"></a>
			{{else}}
			<a class="social-icon" href="{{this.url}}"><img src="../images/{{this.iconset}}.png"></a>
			{{/if}}
			{{/each}}
		</div>
		{{/if}}
	</div>

	{{{body}}}
</body>
</html>
