<!DOCTYPE html>
<html>
<head>
  <title>{{#if title}}{{title}} - {{/if}}{{sitename}}</title>
	<link href="../images/DnRfavicon.png" rel="icon" type="image/x-icon" />

	<link rel='stylesheet' href='/stylesheets/style.css' />

	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="431535611473-tk931qbmqot9p9efafmdmgl0savsmact.apps.googleusercontent.com">
</head>
<body>
	<div class="header">
		<nav role="navigation" aria-label="Header Navigation" class="header-navigation">
			<a class="home" href="/">
				<img class="header-logo" alt="{{sitename}} Home" src="../images/DnRlogo-mid.png">
			</a>
			{{#each headerNavigation}}
			{{#if menu}}
			<span class="menu">{{text}}</span>
			{{else}}
			<a{{#if favorite}} class="highlight"{{/if}} href="{{url}}">{{text}}</a>
			{{/if}}
			{{/each}}
		</nav>

		{{#if socialHeader}}
		<div class="social">
			{{#each socialHeader}}
			{{#if favorite}}
			<a class="social-icon favorite" href="{{url}}"><img src="../images/{{iconset}}-color.png"></a>
			{{else}}
			<a class="social-icon" href="{{url}}"><img src="../images/{{iconset}}.png"></a>
			{{/if}}
			{{/each}}
		</div>
		{{/if}}
	</div>

	<main role="main">
	{{{body}}}
	</main>
</body>
</html>
